.idea/
.svn/
*.ipr
*.iws
*.iml
.idea
.vscode/
target/
*.swp
*.log
.DS_Store
*.xpr
release.properties
.checkstyle
.classpath
.project
.settings
*.releaseBackup
*.bak
bin/
.gitattributes
.gitignore
.vagrant
/tls
build/
